/* reset e padrões */

:root{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px; 
    --cor-de-fundo: #00420c;
    --margin-0: 0px;
    --img-100: 100%;
    --sombra-card: 5px 10px 8px 3px rgba(0, 0, 0, 0.5);
    --crimson: "Crimson Text", serif;
    --work-sans: "Work Sans", sans-serif; 
    text-transform: capitalize;
}

body{
    margin: var(--margin-0);
}

h1{
    font-size: 36px;
    font-weight: bold;
}

h2{
    font-size: 32px;
    font-weight: bold;
}

h3{
    font-size: 28px;
    font-weight: bold;
}

h5{
    font-size: 20px;
    font-weight: bold;
}

p{
    font-size: 16px;
}

.textgrey{
    color: #4A4A4A;
}

.worksans{
    font-family: var(--work-sans);
}

.crimson{
    font-family: var(--crimson);
}

.margin-0{
    margin: var(--margin-0);
    font-family: var(--crimson);
}

.buttonsblack{
    color: white;
    background-color: #212529;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
    font-family: var(--work-sans);
    width: max-content;
    cursor: pointer;
}

.green-text{
    color: var(--cor-de-fundo);
    font-family: var(--work-sans);
}

.material-symbols-outlined{
    color: #74C69D;
}

/*cabeçalho*/

#checkbox{
    display: none;
}

#alinharimg-titulo{
    display: flex;
    gap: 15px;
}

#title-responsive{
    display: none;
}

#title{
    font-family: var(--work-sans);
}

#cabeçalho{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: var(--cor-de-fundo);
    color: white;
}

#lista1{
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding-left: 0;
    align-items: center;
    font-size: 17px;
    font-family: var(--work-sans);
}

.itenslista1{
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.itenslista1:hover{
    background-color: #74C69D ;
}

.hidden{
    display: none;
}

/*footer*/

.footer{
    background-color: var(--cor-de-fundo);
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    color: white;
}

.img-footer{
    display: flex;
    justify-items: left;
    align-self: center;
    gap: 10px;
    padding: 40px;
}

.footer-text{
    text-align: right;
    align-self: center;
    font-family: var(--work-sans);
}

/*--------------------------------------------------------------------------------------*/
/*home*/
/*-----------------------------------------------------------------------------------------*/

#subcabeçalho{
    display: grid;
    background-color: var(--cor-de-fundo);
    grid-template-columns: 40% 40%;
    justify-content: center;
    color: white;
    justify-items: left;
    align-items: center;
    padding-bottom: 70px;
}

#textheader{
    color: lightgray;
    font-family: var(--work-sans);
}

#buttonwhite{
    color: black;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    padding: 12px 0px;
    width: 30%;
    border: none;
    font-family: var(--work-sans);
}

#buttonwhite:hover{
    width: 100%;
    height: 100%;
    transition: 1s;
    cursor: pointer;
}

#img-home{
    width: var(--img-100);
}

/* tecnologias */

#text-init{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 35px;
}

.textshome{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#imgempresas{
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

#buttontec{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* categorias */

#categorias{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
}

.textcategorias{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.imgcategorias{
    width: var(--img-100);
    height: 500px;
}


/* equipe */

#colabs{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-around;
    margin: 45px 0px;
}

.card-colabs{
    display: flex;
    box-shadow: var(--sombra-card);
    flex-direction: column;
}

.text-colabs{
    padding-left: 40px;
    margin: 20px 0px;
}

.img-colabs{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#btn-colab{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 45px;
}

.colaboradores{
    width: 50%;
}

/*------------------------------------------------------------------------------------------*/
/* Planos */
/* ------------------------------------------------------------------------------------------*/

#cards{
    display: grid;
    grid-template-columns: 26% 26% 26%;
    justify-content: space-evenly;
    text-align: center;
    padding: 80px;
    font-family: var(--work-sans);
}

.margin-text{
    padding: 40px 0px 0px;
}

.alinharcheck{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.money{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 5px;
}

.borda-cards{ 
    box-shadow: var(--sombra-card);
    padding: 0px 15px;
    max-height: max-content;
}

.btn-value{
    margin: 40px 0px;
}

/*------------------------------------------------------------------------------------------*/
/* Disciplinas */
/* ------------------------------------------------------------------------------------------*/

#divplinas{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    justify-content: center;
    justify-items: center;
    padding-top: 50px;
}

.img-disciplinas{
    width: var(--img-100);
}

#btn-disc{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 23px 0px 50px;
}

/*-----------------------------------------------------------------------------------------*/
/* contatos */
/*-----------------------------------------------------------------------------------------*/

#contato{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-items: center;
}

#input-img{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    padding: 0px 0px 50px 0;
}

#img-contato{
    width: 90%;
    justify-self: right;
    align-self: center;
}

#input{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
}

label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}


.txt-cnt{
    border: solid black 1px;
    background-color: #EEEEEE;
    border-radius: 5px;
    width: 100%;
    height: 30px;
}

#txt-cnt2{
    border: solid black 1px;
    background-color: #EEEEEE;
    border-radius: 5px;
    width: 100%;
}

#btn-cnt{
    width: 100%;
}

#btn{
    color: white;
    background-color: #212529;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
    font-family: var(--work-sans);
    width: 100%;
    cursor: pointer;
}

/*-----------------------------------------------------------------------------------
Media Querys
------------------------------------------------------------------------------------*/

@media (max-width: 375px) {
    .responsivecontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .buttonsblack{
        width: 50%;
        padding: 20px 0px;
    }

    h1{
        font-size: 30px;
    }

    p{
        font-size: 20px;
    }

/* --------------------------------------------------------------------------------------------------------------------------------
 footer 
 --------------------------------------------------------------------------------------------------------------------------------*/

    .footer {
        width: 100%;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
    .img-footer{
        padding: 20px 0px;
    }

/* --------------------------------------------------------------------------------------------------------------------------------
 cabeçalho
 --------------------------------------------------------------------------------------------------------------------------------*/

    #cabeçalho{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'title checkbox'
        'lista lista';
        justify-items: end;
        padding: 0px 15px;
    }

    #lista1{
        display: none;
        grid-area: lista;
        flex-direction: column;
        width: 100%;
    }

    #checkbox{
        display: block;
        grid-area: checkbox;
        align-self: center;
    }
    
    .hidden{ 
        display: none;
    }

    #menu-icon{
        font-size: 35px;
    }

    #menu-lateral:checked ~ #lista1{
        display: flex;
    }
    
    #title-responsive{
        display: block;
        grid-area: title;
        font-family: var(--work-sans);
    }

    #title{
        display: none;
    }

/* --------------------------------------------------------------------------------------------------------------------------------
 Home
 --------------------------------------------------------------------------------------------------------------------------------*/

    #subcabeçalho{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0px 10px 70px;
    }
    #buttonwhite{
        width: 50%;
        padding: 15px 0px;
    }
    #text-init{
        display: flex;
        flex-direction: column;
    }
    #imgempresas{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;
        padding: 80px 0px;
    }
    #categorias{
        width: 90%;
        display: grid;
        grid-template-areas: 
        'img1'
        'txt1'
        'img2'
        'txt2';
        gap: 20px;
        grid-template-columns: none;
        grid-template-rows: none;
    }
    .textcategorias:nth-child(1){
        grid-area: txt1;
    }
    .textcategorias:nth-child(2){
        grid-area: txt2;
    }

    .imgcategorias{
        height: auto;
    }

    .imgcategorias:nth-child(1){
        grid-area: img1;
    }
    .imgcategorias:nth-child(2){
        grid-area: img2;

    }
    #colabs{
        width: 80%;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 15px;
    }

/* --------------------------------------------------------------------------------------------------------------------------------
 disciplinas
 --------------------------------------------------------------------------------------------------------------------------------*/
    #divplinas{
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 50px 20px 0px;
    }

/* --------------------------------------------------------------------------------------------------------------------------------
 cards
 --------------------------------------------------------------------------------------------------------------------------------*/
    #cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

/* --------------------------------------------------------------------------------------------------------------------------------
 Contato
 --------------------------------------------------------------------------------------------------------------------------------*/
    #contato{
        max-width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #input-img{
        display: flex;
        flex-direction: column-reverse;
        max-width: 90%;
    }
}

  
